.mainbar .mainbar-nav > li {
margin-right: 5px;
}

.mainbar {
background: rgb(217,133,143);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDk4NThmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjElIiBzdG9wLWNvbG9yPSIjOWQ0ZDU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjODk0MzRiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjN2E4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  rgba(217,133,143,1) 0%, rgba(157,77,86,1) 21%, rgba(137,67,75,1) 51%, rgba(204,122,131,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(217,133,143,1)), color-stop(21%,rgba(157,77,86,1)), color-stop(51%,rgba(137,67,75,1)), color-stop(100%,rgba(204,122,131,1)));
background: -webkit-linear-gradient(-45deg,  rgba(217,133,143,1) 0%,rgba(157,77,86,1) 21%,rgba(137,67,75,1) 51%,rgba(204,122,131,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(217,133,143,1) 0%,rgba(157,77,86,1) 21%,rgba(137,67,75,1) 51%,rgba(204,122,131,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(217,133,143,1) 0%,rgba(157,77,86,1) 21%,rgba(137,67,75,1) 51%,rgba(204,122,131,1) 100%);
background: linear-gradient(135deg,  rgba(217,133,143,1) 0%,rgba(157,77,86,1) 21%,rgba(137,67,75,1) 51%,rgba(204,122,131,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9858f', endColorstr='#cc7a83',GradientType=1 );
}


.mainbar .mainbar-nav > .active > a, .mainbar .mainbar-nav > .active > a:hover, .mainbar .mainbar-nav > .active > a:focus {
background: transparent;
  border-color: #fff;
}

.mainbar .mainbar-nav > li > a {
text-shadow: 1px 1px 2px #333;
}

.mainbar .mainbar-nav > .active > a::after, .mainbar .mainbar-nav > .active > a:hover::after, .mainbar .mainbar-nav > .active > a:focus::after {
border-top-color: #fff;
}


.mainbar .mainbar-nav > .open > a,
.mainbar .mainbar-nav > .open > a:hover,
.mainbar .mainbar-nav > .open > a:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
}

.mainbar .mainbar-nav > li > a:hover,
.mainbar .mainbar-nav > li > a:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
}


.content-header-title {
color: #883B47;
}

.mainbar .mainbar-toggle {
color: #fff;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #883B47;
}



.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
z-index: 2;
color: #fff;
background-color: #883B47;
border-color: #883B47;
cursor: default;
}